*{
	padding: 0;
	margin: 0;
    border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    /* max-width: 100%; */
    min-width: 310px;
    font-family: cursive;
    background-color:bisque;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

#header {
    /* background-color:  #212529; */
    background:#232526;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 70px;
    padding: 10px 40px;
    position: fixed;
    z-index: 3;
    top: 0;
}
main {
    overflow: hidden;
    height: 950px;
    background-color: bisque;
}
.logo {
    width: 70px;
}

.text-light {
    display: inline-block;
    justify-content: center;
 }
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #c471f5 0%, #fa71cd 100%);
    background-size: contain;
    border-radius: 8px;
    border: 3px solid #f5cdcd;
}
.social {
    /* display: none; */
    display: inline-block;
    margin-left: 10px;
}
.project {
    background-color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 155px;
}
.art {
    display: flex;
    margin-left: 240px;
    padding-top: 45px;
}
.logot {
    font-size: 45px;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.info {
    text-align: justify;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}
#elastic {
    width: 300px;
    height: 40px;
}
.information {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    padding: 45px 100px 0 100px;
}
:root {
    --transition: .75s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider {
    margin-top: 120px;
    overflow: visible;
    height: 100%;
}
.slider__wrapper {
    transition:var(--transition)!important;
    display: flex;
    align-items:center;
}
.slider__item {
    max-height: 75vh;
    position: relative;
    overflow: hidden;
    transition: transform var(--transition), box-shadow var(--transition);
}
.slider_main {
    
    /* background-color:rgb(0, 0, 0); */
    background: #232526;
    
    top: -13vh;
}
.img {
    width: 300%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: -100%;
    transition:var(--transition)!important;
    will-change: transform var(--transition);
}
.slider_bg {
    z-index: 0;
    top: -80vh;
    left: -10vh;
    opacity: .3;
    filter: saturate(1000) blur(140px);
}
.slider_bg .slider__item {
    max-height: 100%;
}
.slider__item.opened {
    z-index: 2;
    transform: scale(1.4);
    box-shadow: rgb(0 0 0 / .75) 0 0 0 10000px;
}
.l_type {
    z-index: 2;
    position: absolute;
    padding: 400px 0 0 120px;
    display: flex;
    font-size: 40px;
    color:rgb(255, 0, 0);
    align-items: center;
    transition: opacity var(--transition), transform var(--transition);
}
.l_type.hidden {
    opacity: 0;
    transform: translateX(15vh);
}
.mod_img {
    text-align: center;
}
.social {
    max-width: 200px; /* максимальная ширина подсказки (по умолчанию 200px) */
    background-color: #ffffff00; /* цвет фона (по умолчанию #000) */
}
.modal_tit{
    margin: auto;
}
.button_close {
    margin: auto;
}
.search1 {
    margin: 0 0 0 auto;
}
.form-inline {
    padding-right: 10px;
}
.text-light {
    font-size: 25px;
}


::-webkit-scrollbar {
    width: 14px;
    height: 0px;
    /* box-shadow: 0 0 2px red inset; */
}
/* Track */
::-webkit-scrollbar-track {
    background-color: #232526;
    
    /* box-shadow: 0 0 2px white inset; */
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080; 
    border-color: #232526;
    /* box-shadow: 0 0 2px white inset; */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #696969;
    border-color: #232526;
    
    
    opacity: 0;

}
/* для черных блоков */





.modal-body {
    font-size: 15px;
    font-family: cursive;
} 
.modal-body h5 {
    padding-top: 20px;
}
.text-light {
    cursor: default;
}
/* анимация текста в модальном меню */
.underline-one {
	/* color: bisque; Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: darkgrey; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: bisque; /* Цвет подчеркивания при появлении линии*/
    transition: width 1s;  /* Время эффекта */
}


/*  */
/* Спиннер */

/* .preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: visible;

    background: bisque;
    z-index: 1001;
  }


  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  .done{
    opacity: 0;
    visibility: hidden;
  }

  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }

  .loaded .preloader {
    display: none;
    
  } */

.pr-bg{
    background: rgb(22, 22, 21);
    
    
}

.preloader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: visible;
    z-index: 1001;
    background: #232526;
    /* background: linear-gradient(#0F2027,#203A43,#2C5364); */

    }
    .preloader span{
        display: block;
        height: 15px;
        width: 15px;
        /* background-color: blue; */
        /* background: linear-gradient(#0F2027,#203A43,#2C5364); */
        background: linear-gradient(#FFE4C4,#F5DEB3);
        margin: 0 7px;
        border-radius: 10px;
        animation: 1.2s upDown infinite;
        
    }
    .preloader span:first-child{
        animation-delay: .15s;
    }
    .preloader span:nth-child(2){
        animation-delay: .3s;
    }
    .preloader span:nth-child(3){
        animation-delay: .45s;
    }
    .preloader span:nth-child(4){
        animation-delay: .6s;
    }
    .preloader span:last-child{
        animation-delay: .75s;
    }
    .done{
        opacity: 0;
        visibility: hidden;
        
    }
    
    @keyframes upDown {
        0%{
            height: 15px;
            
        }
        50%{
            height: 60px;
        }
        100%{
            height: 15px;
        }
    }



/*  */

/* Кнопка */


  
/*  */

.offcanvas-footer{
    margin: auto;
}

.name {
    background-color:bisque;
    display: flex;
    justify-content: center;
    font-family: cursive;
}
.name_1 {
    background-color:bisque;
    display: flex;
    justify-content: center;
    font-family: cursive;
    margin-bottom: 50px;
    visibility: hidden;
}
.biography { 
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color:bisque;
    font-family: cursive;
    font-size: 17px;
    text-align: justify;
    padding-bottom: 100px;
}
.child {
    justify-content: flex-start;
    height: 100%;
    width: 1000px;
    /* padding-left: 50px; */
    padding-top: 100px;
}
.service {
    justify-content: flex-start;
    height: 100%;
    width: 1000px;
    padding-top: 100px;
}
.wars {
    justify-content: flex-start;
    height: 100%;
    width: 1000px;
    padding-top: 100px;
}
.life {
    justify-content: flex-start;
    height: 100%;
    width: 1000px;
    padding-top: 100px;
}
.death {
    justify-content: flex-start;
    height: 100%;
    width: 1000px;
    padding-top: 100px;
}
.biography  p {
    padding-top: 30px;
}
.biography h3 {
    text-align: center;
}
.biography img {
    border: 3px solid rgb(0, 0, 0);
    display: block;
    margin: 50px auto auto auto;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
#footer {
    padding-bottom: 40px;
    /* background-color: #212529; */
    background:#232526;
    width: 100%;
    height: 200px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    min-width: 310px;
    z-index: 3;
    align-items: center;
    flex: 1 1 auto;
}
.contacts {
    display: none;
}
.footer_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 65px;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
footer p {
    color: white;
    font-size: 20px;
}
.Muh, .Gayaz {
    display: inline-block;
    padding-left: 50px;
}
.rights {
    color: white;
    font-size: 20px;
    padding-top: 10px;
}
.soc_menu a {
    display: inline-block;
    padding-left: 5px;
    padding-left: 10px;
}
.soc_menu {
    margin-top: -20px;
}
.Muh p {
    margin-left: -10px;
}
.Gayaz p {
    margin-left: 25px;
}
#elastic{
    display: block;
    margin: 40px 0;
}
.marktext{
    background: rgb(77, 77, 77);
    color: bisque;
    border-radius: 18px;
}


/* Семна темы */
.theme-button
{
    position: absolute;
    /* right: 5px; */
    /* top: 5px; */
    display: inline-block;
    /* padding: 10px 25px; */
    margin-bottom: 50px;
    cursor: pointer;
}

/*  */
@media (max-width: 1582px) {
    .l_type {
        display: none;
    }
}
@media (max-width: 1472px) {
    .project {
        margin-left: -200px;
        flex-direction: column;
    }
    .art {
        height: 360px;
        width: 320px;
    }
    .information {
        margin: 10px 0 0 205px;
    }
    .information p {
        font-size: 20px;
    }
    .logot {
        font-size: 30px;
    }
}
@media (max-width: 1050px) {
    .biography p, h3 {
        width: 800px;
        margin-left: 50px;
    }
}
@media (max-width: 885px) {
    #item-3-1.biography p, h3 {
        width: 500px;
        /* margin-left: 200px; */
    }
    .name {
        margin-left: 40px;
    }
    .soc_menu {
        display: none;
    }
    .contacts {
        display: flex;
    }
    /* #item-3-1.biography img {
        margin-left: 200px;
    } */
} 
@media (max-width: 730px) { 
    .art {
        height: 270px;
        width: 240px;
    }
    .information p {
        font-size: 17px;
    }
    .logot {
        font-size: 24px;
        width: 400px;
    }
}
@media (max-width: 590px) {
    #item-3-1.biography p, h3 {
        width: 300px;
        margin-left: 90px;
    }
    #item-3-1.biography img {
        width: 300px;
        height: 300px;
        margin-left: 90px;
    }
}
@media (max-width: 440px) {
    .art {
        height: 260px;
        width: 220px;
    }
    .information {
        margin-top: -20px;
    }
    .information p {
        margin-left: 100px;
        width: 220px;
        height: 280px;
    }
}
@media (max-width: 375px) {
    .logot {
        font-size: 20px;
    }
    #item-3-1.biography {
        margin-left: -40px;
    }
    .name {
        margin-left: -3px;
        width: 100%;
    }
    #item-3-1.biography p, h3 {
        width: 230px;
        
    }
    #item-3-1.biography img {
        width: 230px;
        height: 230px;
        margin-left: 89px;
    }
    .name {
        margin-left: 4px;
    }
    /* #footer {
       margin-right: -20px;
    } */
}